.navigation-header
{
    
}
.video-details-main
{
    background-color: #000000;
    margin : 0;
    height: 100%;
}
.video-type
{
    max-width: 120px;
    padding: 8px;
    height: 29px;
    background-color: #707070;
    color: #ffdd00;
    font-family: 'Poppins';
    display: flex;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}
.video-name
{
    color: #ffffff;
    font-size: 50px;
    font-family: 'Poppins';
}
.video-genre
{
    float: left;
    font-family: 'Poppins';
    color: #ffdd00;
    margin-right: 10px;
}
.video-year
{
    float: left;
    font-family: 'Poppins';
    color: #ffdd00;
    margin-right: 10px;

}
.video-rating
{
    float: left;
    font-family: 'Poppins';
    color: #ffdd00;
    margin-right: 10px;

}
.video-duration
{
    float: left;
    font-family: 'Poppins';
    color: #ffdd00;
}
.dot
{
    font-family: 'Poppins';

    float: left;
    margin-top: 10px;
    width: 3px;
    height: 3px;
    border-radius: 3px;
    background-color: #ffdd00;
    font-size: 20pt;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}
.video-desc
{
    color: #f6f6f6;
    justify-content: left;
    text-align: left;
    font-family: 'Poppins';
    width: 788px;
}
.video-poster
{
    z-index: 1;
    position: absolute;
    right: 0;
    width: 67.104vw;
    height: 66vh;
}
.front
{
    z-index: 10;
}
.video-image
{
    width: 67.104vw;
    height: 66vh;
}
.content {
    width: 67.104vw;
    z-index: 1;
    position: absolute;
    right: 0;
    height: 66vh;
    background-image: linear-gradient(to right,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.content-more {
    width: 67.104vw;
    z-index: 1;
    position: absolute;
    right: 0;
    height: 66vh;
    background-image: linear-gradient(to top,rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.video-control
{
    font-family: 'Poppins';
    display: flex;
    margin-top: 4vh;
    width: 200px;
    justify-content: space-between;
    color: #f6f6f6;
    font-family: 'Poppins';
}
.video-details-value
{
    font-family: 'Poppins';
    color : #3082FF;
    cursor: pointer;
    z-index: 10;
}
.video-publish-title
{
    margin-top: 6vh;
    color: #f6f6f6;
}
.video-details-title
{
    color: #f6f6f6;
    font-family: 'Poppins';
}
.publisher-function
{
    padding-left: 5px;
    width: 568px;
    height: 80px;
    border: 2px solid #707070;
    border-radius: 4px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: start;
}
.streamer-info
{
    margin-left: 10px;
    width: 130px;
    text-align: left;
    font-family: 'Poppins';
    color: #ffdd00;
}
.subscribe-button
{
    width: 129px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #ffdd00;
    color: #000000;
    border-radius: 4px;
}
.subscribe-button-position
{
    margin-left: 225px;
}
.users-watched-title
{
    margin-top : 73px;
    color: #f6f6f6;
}
@media (pointer:none), (pointer:coarse)
{
.publisher-function
{
    padding-left: 5px;
    width: 100%;
    height: 80px;
    border: 2px solid #707070;
    border-radius: 4px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: start;
}
.streamer-info
{
    margin-left: 10px;
    width: 40vw;
    text-align: left;
    font-family: 'Poppins';
    color: #ffdd00;
}
.subscribe-button
{
    width: 129px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #ffdd00;
    color: #000000;
    border-radius: 4px;
}
.subscribe-button-position
{
    margin-left: 10vw;
}
.video-image
{
    height: 30vh;
    width: 100vw;
    position: relative;
    margin-left: 0px;
}
.video-poster
{
    z-index: 1;
    position: relative;
    right: 0;
    width: 67.104vw;
    height: 30vh;
    margin-left: -5vw;
    margin-bottom: 20px;
}
.content {
    width: 0px;
    
    height: 0px;
}
.content-more {
    width: 0px;
    
    height: 0px;
}
}